.printWeight {
    width: 56%;
    margin-left: 8px;
    font-family: 宋体;
    font-size: 11px;
    font-weight: bold;
}

.printWeight .weightRow {
    border: 1px solid #000;
}
.printWeight .weightCol {
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    text-align: center;
    height: 35px;
}

.printWeight .weightColRight {
    border-right: 1px solid #000;
}
.printWeight .weightColEnd {
    border-bottom: 1px solid #000;
}
