
/* font-family: "Microsoft YaHei", 微软雅黑, MicrosoftJhengHei, 华文细黑, STHeiti, MingLiu;*/
.printWeight {
    width: 100%;
    margin-left: 12px;
    font-family:  华文细黑,  MingLiu;
    /* font-family: SimHei; */
    font-size: 12px;
    font-weight: bold;
    color: #000;

    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
} */

.printWeight .weightRow {
    border: 0.1px solid #000;
    /* font-family:  华文细黑,  MingLiu; */
    /* font-family: sans-serif; */

}
.printWeight .weightCol {
    border-top: 0.1px solid #000;
    border-left: 0.1px solid #000;
    text-align: center;
    height: 30px;
    /* font-family:   华文细黑,  MingLiu; */

}

.printWeight .weightColRight {
    border-right: 0.1px solid #000;
}
.printWeight .weightColEnd {
    border-bottom: 0.1px solid #000;
}
